@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1619490327724'); /* IE9 */
  src: url('iconfont.eot?t=1619490327724#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABqQAAAJ/AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBMIEtATYCJAMICwYABCAFhG0HLxvSBcgekiSB3AgUgpCSAhBCPDx/Pzz3vbuKoOLmSMDRhIs2tJGMm8d/ck3TMdr4AaIqKcDkAZtPyY0Y7FzlbrJyq1A73ypmNuBwaRMokHlAua21aW/AwNKA9saoiArokX8Yu+AFPibQaVYp3Wn/qBGkSPaqQDxwjBOkFHxSsmS70NpwMMWbFu3lpcRr9Pv4sxMpFC2VnXNx3+cBnZ8WJ1LHmjEBgZ+AjregYhuQxE1j7Ey8YLR4nbEEi8CxMoNPS9MEBnFUrWD/Oju9G0xD3jPxPcGjpheQyeg+4HjSbZSZ8eyFUfPO+O5iockumrbHtvITDouV3fsCy1aBi+zZKdLtjjG719t7BR7QEl1k3KKppnD4buArFz8+RBcWo3u76uPfA+j1NdB/GYl9DpbEIs0XFUxi13WGTp+WSnUn8x4+fvXBE/c8jwbrekAn214f69v/VfA8tWuwZ7f+p3Ql+HjeLcZlqVa0n8oe/DL+wJ40hLa+pMZvdBT7k1YWdOpEA7sG/U1VjdxfKrQbuUtHm5kMVbtlYlK30aLLHlq1O0CnLQPHuwwh4kV2YNM0QOj3iqLXO6p+P8Sk/qLFqH+06o94dLqL/Au7rAaX1kOQkyIPdIUg51Zk7BppWpypR4xPdJK8MKKbEdG4IKwqrywnB5CMyBJbND9TTSmGmCgS7AfPIVFUoEoUHrlpOUup2lxRgZveVO5WJJDmBIE4UYgH5BICcdwUMhwMp9Iq39dDGD4iJ9LRUOc0QwgNNz5UpVzlAOKATB7U8CivaPwY1SgKgzBCIYH6wTxEJFJAavM8HuJGlWMnRFTNKpxBeKisfHuF9AO5rAVbXcKxVi1Pbi0DAAA=') format('woff2'),
  url('iconfont.woff?t=1619490327724') format('woff'),
  url('iconfont.ttf?t=1619490327724') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1619490327724#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-:before {
  content: "\e65c";
}

